@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.skills {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    width: 100%;
    height: 500vh;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skillsSection {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.skillsH1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5vw;
    font-weight: lighter;
    line-height: 100%;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 505px;
    perspective: 1000px;
}

.card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.cardWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    animation: floating 3s infinite ease-in-out;
}

.card-1 .cardWrapper {
    animation-delay: 0s;
}

.card-2 .cardWrapper {
    animation-delay: 0.2s;
}

.card-3 .cardWrapper {
    animation-delay: 0.4s;
}

.card-4 .cardWrapper {
    animation-delay: 0.6s;
}

.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flipCardFront, 
.flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.8em;
    overflow: hidden;
}

.flipCardBack {
    padding: 1em;
    background-color: #fff;
    transform: rotateY(180deg);
}

@keyframes floating {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -60%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
